# TOPPERS related files
*.o
*.d
*/asp
asp.*
cfg1_out*
cfg2_out*
kernel_cfg.*
libkernel.a
offset.h
offset.timestamp
check.timestamp
gen/

# VSCode & Cortex-Debug related files
.vscode/.cortex-debug*

# STM32CubeIDE related files
.cproject
.project
.settings/
*.launch

