# TOPPERS related files
*.o
*.d
*/asp
asp.*
cfg1_out*
cfg2_out*
kernel_cfg.*
libkernel.a
offset.h
offset.timestamp
check.timestamp
gen/

# VSCode & Cortex-Debug related files
.vscode/.cortex-debug*

# STM32CubeIDE related files
.cproject
.project
.settings/
*.launch

mros2/
asp3-f767zi/
cmsis-asp3/
STM32CubeF7/

workspace/build/
workspace/asp*
workspace/Makefile
mros2_msgs/

