[submodule "embeddedRTPS"]
	path = embeddedRTPS
	url = https://github.com/mROS-base/embeddedRTPS.git
	branch = mros2
[submodule "asp3"]
	path = asp3
	url = https://github.com/mROS-base/asp3-f767zi
	branch = mros2
